TUSHARE_TOKEN = 'YOUR_TUSHARE_TOKEN'   #register and aquire key from 'tushare.pro'
QUANDL_TOKEN = "NOT_A_MUST__YOUR_QUANDL_TOKEN"

SHFE_DATA_PATH = '/YOUR/FILE/PATH/shfe.hdf5'
DCE_DATA_PATH = '/YOUR/FILE/PATH/dce.hdf5'
CZE_DATA_PATH = '/YOUR/FILE/PATH/cze.hdf5'
INE_DATA_PATH = '/YOUR/FILE/PATH/ine.hdf5'
CFFEX_DATA_PATH = '/YOUR/FILE/PATH/cffex.hdf5'
