[Unit]
Description=Get tqsdk data

[Service]
User=sean
Group=sean
ExecStart=/home/sean/code/cn_ex_sync/tq_transform.sh
Restart=always

[Install]
WantedBy=multi-user.target

